#add-train-btn {
    background-color: rgb(32, 95, 35);
} 
.card-header {
    background-color: rgb(151, 29, 29);
    color: white;
    text-align: center;
}
.card {
    border: 1px solid rgb(151, 29, 29);
    margin-bottom: 32px;
}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}
#add-train-btn {
    border: 1px solid  rgb(32, 95, 35);
}
th {
    font-weight: bold;
}